canvas {
animation-name: exmaple;
animation-duration: 6s;
animation-iteration-count: infinite;


}
@keyframes exmaple{
    0% {box-shadow: 1px 1px 40px  rgb(0, 0, 0)}
    20% {box-shadow: 1px 1px 40px  rgb(252, 0, 0)}
    40% {box-shadow: 1px 1px 40px rgb(12, 12, 0)}
    60% {box-shadow: 1px 1px 40px  rgb(255, 0, 0)}
    80% {box-shadow: 1px 1px 40px  rgb(0, 0, 0)}
    100% {box-shadow: 1px 1px 40px  hsl(0, 100%, 50%)}
    }

